<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs') %>
    <title>Main</title>
  </head>
  <body class="container-fluid pt-3 pb-3">

    <% if (filmList.length) { %>
    <select class="select-film mb-3">
      <!-- redirect to home page -->
      <option value="">Default</option>

      <% filmList.forEach(function(film, index){ %>
      <option value="<%= index + 1 %>" <%- (currentValue - 1) === (index + 1) ? 'selected' : '' %>>
        <%= film.title %>
      </option>
      <% }); %>
    </select>
    <% }; %>

    <% if (movieTitle) { %>
      <h2 class="movie-title"><%= movieTitle %></h2>
    <% }; %>

    <div class="loader-wrapper personage-loader" style="display: none;">
      <div class="spinner-border " role="status" >
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="personage-results">
      <% if (names.length) { %>
      <% names.forEach(function(name){ %>
      <div><%= name %></div>
      <% }); %>
      <% }; %>
    </div>

    <%- include('partials/footer') %>
  </body>
</html>
